.portfolioBanner {
  background-image: url("/assets/Images/Portfolio/PortfolioBanner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 180px 0px;
  background-attachment: fixed;
}
